[user]
	name = Christian Mösl
	email = christian.moesl@live.at
	signingkey = 00E80FCE30C2947A
[core]
	editor = nvim
[commit]
	gpgsign = true
[gpg]
	program = gpg
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[mergetool]
	prompt = false
[mergetool "vimdiff"]
	path = nvim
[difftool "vimdiff"]
	path = nvim
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
