[user]
	name = Christian Mösl
	email = christian.moesl@live.at
	signingkey = 34C020723C521F4A! 
  # for university: signingkey = 71F860C6B8FA1C91\! 
[core]
	editor = nvim
[commit]
	gpgsign = true
[gpg]
	program = gpg
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[mergetool]
	prompt = false
[mergetool "vimdiff"]
	path = nvim
[difftool "vimdiff"]
	path = nvim
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	rebase = true
