.config/jgit
.config/AWS VPN Client
.config/AWSVPNClient
.config/vale
.config/gcloud
.config/wireshark
.config/github-copilot

.ssh/known_hosts

Brewfile.lock.json

.gnupg/*
!.gnupg/gpg-agent.conf
!.gnupg/gpg.conf
!.gnupg/sshcontrol


