[user]
	name = Christian Mösl
	email = christian.moesl@live.at
  # signingkey = 30C2947A
  # 34C020723C521F4A! 
  # for university: signingkey = 71F860C6B8FA1C91\! 
[core]
	editor = nvim
[commit]
  # gpgsign = true
[gpg]
	program = gpg
[diff]
	tool = vimdiff
[merge]
	tool = fugitive
	; conflictStyle = diff3
[difftool]
	prompt = false
[mergetool]
	prompt = false
; [mergetool "vimdiff"]
; 	path = nvim
; [difftool "vimdiff"]
; 	path = nvim

[difftool "vimdiff"]
    cmd = vimdiff \"$LOCAL\" \"$REMOTE\"
[mergetool "vimdiff"]
    cmd = vimdiff \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[mergetool "fugitive"]
	cmd = nvim -d -c \"wincmd l\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	rebase = true
[push]
  default = current
[rebase]
  autosquash = true
	updateRefs = true
[alias]
  fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
[rerere]
	enabled = true
[branch]
	sort = -committerdate
